.lets-connect{
    padding-bottom: 10em;
    
    & ul li{
        font-size: .95rem;
    }
    
    & img {
        max-width: 300px;
    }
    
    @mixin atMedium {
        text-align: center;
    }
}