.main-header {
    width:100%;
    background: #003366;
    background: linear-gradient(to bottom right, #036, #002242);
    /*background-color: #036;*/
    padding: 20px 40px;
    margin-bottom: 80px;
    height: 420px;
    transition: all .3 ease-out;
    border-bottom: $teal 20px solid;
    
    
    @mixin atSmall {
        height:350px;
    }
    
    @mixin atMedium {
        position: absolute;
        margin-bottom: 0px;
        height:400px;
        z-index: 100;
    }
    
    
     
    & img {
        width: 100%;
        display: block;
        margin: 0 auto;
        max-width: 250px;
    }
    
    &__minimal{
        @mixin atMedium {
            position:fixed;
            height:70px;
            box-shadow: 0px 4px 8px rgba(0,0,0,.4);
            
            & img {
                width: 100px;
                display: inline-block;
                position:absolute;
                left: 5px;
                top:5px;
            }
            
            & h1 {
                position: absolute;
                left: 140px;
                top: 0px;
                font-size: 1.5rem;
                text-align: left;
                display: inline-block;
            }
        
        }
    }
    
    &__inner-pages{
        position:static;
        height:120px;
        
        & img {
                width: 150px;
                display: inline-block;
                position:absolute;
                left: 5px;
                top:5px;
        }
        
        & h2{
            position: relative;
            left: 150px;
            color:white;
            display:inline;
        }
    }
 
    h1{
    border: 0px;
    padding: 0px 0;
    color: white;
    }   
}


